snippet ()
	(${1}) => {
		$0
	}

snippet ex
	export default $1;

snippet const
	const ${1} = ${0};

snippet let
	let ${1} = ${0};

snippet im
	import ${1} from '${0}';

snippet cla
	class ${1} {
		${0}
	}
